

body {
    background-position: top;
    background-image:url(https://ununsplash.imgix.net/photo-1420708392410-3c593b80d416?q=75&fm=png&s=db450320d7ee6de66c24c9b0bf2de3c6);
    background-repeat: repeat;
}

.main-feed {
  text-align: center;
}

h1 {
  text-align: center;
}